# folders
test
.env
.venv
notebooks
.ipynb_checkpoints
__pycache__
outputs
# tests
logs
data
credentials
go_tutorials
goapi


# files
.csv
.DS_Store
.vscode
.idea
Thumbs.db
*test.*
.env

backend
archived